dash==2.14.2
dash-bootstrap-components==1.5.0
plotly==5.18.0
pandas==2.1.4
gunicorn==21.2.0
pyarrow==14.0.1
fastparquet==2023.10.1
azure-monitor-opentelemetry==1.1.1
azure-monitor-events-extension==0.1.0
python-dotenv==1.0.0